<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2>Basket page</h2>

    <form action="{% url 'add_order_to_basket' pk=user.id %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {% if field.name == 'user' %}
                    <select name="user" required="" id="id_user">
                        <option value="{{ user.id }}" selected="">{{ user }}</option>
                    </select>
                {% else %}
                    {{ field.label_tag }} -- {{ field }}
                {% endif %}

            </div>
        {% endfor %}

        {% if messages %}
            <ul class="messages">22
                {% for message in messages %}
                    <div class="" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}

        <button type="submit">Add order</button>
    </form>

</body>
</html>