<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistic page</title>
</head>
<body>

    <h2>Statistic page</h2>

    <h4>User's orders</h4>
    <span></span>
    <ul>
        <li>number of all user orders -- {{ all_user_orders_number }}</li>
        <li>max price -- {{ max_user_price }}</li>
        <li>middle price -- {{ middle_user_price }}</li>
        <li>full price sum -- {{ full_user_price }}</li>
        <li>Сумму всех товаров, которые ввел пользователь И длина имени которых составляет больше 3 знаков
            ИЛИ цена которых больше 50, независимо от того, кто их создал -- {{ condition }}</li>

        <li>
            <a href="{% url 'raise_price' pk=user.id %}">Поднять цену</a>
        </li>
        <li><hr></li>
        {% for order in all_user_orders %}
            <li>{{ order.title }} - {{ order.price }}</li>
        {% endfor %}
    </ul>

    <hr>

    <h4>All orders</h4>

    <ul>
        <li>number of all orders -- {{ all_orders }}</li>
    </ul>

</body>
</html>